CONTROLLER_PORT=
PUBLIC_BASE_URL=
CONTROLLER_INTERNAL_URL=

GAME_SERVER_PORT=
GAME_SERVER_ID=
GAME_SERVER_PUBLIC_URL=
GAME_SERVER_INTERNAL_URL=
CONTROLLER_URL=

GAME_SERVER_1_PORT=
GAME_SERVER_1_ID=
GAME_SERVER_1_PUBLIC_URL=
GAME_SERVER_1_INTERNAL_URL=

GAME_SERVER_2_PORT=
GAME_SERVER_2_ID=
GAME_SERVER_2_PUBLIC_URL=
GAME_SERVER_2_INTERNAL_URL=
