CONTROLLER_PORT=3000
PUBLIC_BASE_URL=https://forca.arthurcmarques.com.br
CONTROLLER_INTERNAL_URL=http://controller:3000

GAME_SERVER_PORT=4001
GAME_SERVER_ID=game-server-1
GAME_SERVER_PUBLIC_URL=https://gs1.arthurcmarques.com.br
GAME_SERVER_INTERNAL_URL=http://localhost:4001
CONTROLLER_URL=http://controller:3000

GAME_SERVER_1_PORT=4001
GAME_SERVER_1_ID=game-server-1
GAME_SERVER_1_PUBLIC_URL=https://gs1.arthurcmarques.com.br
GAME_SERVER_1_INTERNAL_URL=http://game-server-1:4001

GAME_SERVER_2_PORT=4002
GAME_SERVER_2_ID=game-server-2
GAME_SERVER_2_PUBLIC_URL=https://gs2.arthurcmarques.com.br
GAME_SERVER_2_INTERNAL_URL=http://game-server-2:4002
